h1 {
  margin: auto;
  width: 960px;
  text-align: center;
}
body {
  background-color: black;
  color: antiquewhite;
}
nav {
  margin: auto;
  width: 960px;
  text-align: center;
}
a {
  color:black;
  margin: auto;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  background-color: antiquewhite;
}
figure {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
}
figcaption {
  text-align: center;
  font-size: smaller;
  }
  p {
    margin: auto;
    width: 800px;
    text-align: center;
}
#details {
  list-style-type: none;
  margin: 0;
  padding: 0px;
  overflow: hidden;
  background-color: rgb(224, 20, 20);
}
div {
  box-sizing: border-box;
}

div {
  float: left;
  width: 25%; 
  padding: 10px;
}